In [1]:
import pandas as pd

1. Pandas data structures

In [2]:
# create pandas series data
students = pd.Series([62070229, 62070230, 62070231, 62070232, 62070233,
            62070234, 62070235, 62070236, 62070237, 62070238])
print(students)
print("-" * 20)
# access value: series_name[index]
print(students[0])

0    62070229
1    62070230
2    62070231
3    62070232
4    62070233
5    62070234
6    62070235
7    62070236
8    62070237
9    62070238
dtype: int64
--------------------
62070229

In [3]:
# create pandas series data with index - 1
students = pd.Series([62070229, 62070230, 62070231, 62070232, 62070233]
                     , index = [2, 4, 6, 8, 10])
print(students)

2     62070229
4     62070230
6     62070231
8     62070232
10    62070233
dtype: int64

In [4]:
# create pandas series data with index - 2
students = pd.Series({2 : 62070229, 4 : 62070230, 6: 62070231, 8 : 62070232, 10 : 62070233})
print(students)
print("-" * 20)
# get series's index value
print(students.index)

2     62070229
4     62070230
6     62070231
8     62070232
10    62070233
dtype: int64
--------------------
Int64Index([2, 4, 6, 8, 10], dtype='int64')

In [5]:
# define data in each row
data = [['elephant', 1001, 500], ['tiger', 1004, 300], ['zebra', 1009, 200]]
# define column's name
cname = ['animal', 'id', 'water_needed']
# create DataFrame
animal = pd.DataFrame(data, columns=cname)
print(animal)

     animal    id  water_needed
0  elephant  1001           500
1     tiger  1004           300
2     zebra  1009           200

In [6]:
# access each row in DataFrame
print(animal.loc[0, :])
print("-" * 40)
# access each column in DataFrame
print(animal.loc[:, 'animal'])
print("-" * 40)
# access each row in DataFrame
print(animal.loc[1, 'animal'])

animal          elephant
id                  1001
water_needed         500
Name: 0, dtype: object
----------------------------------------
0    elephant
1       tiger
2       zebra
Name: animal, dtype: object
----------------------------------------
tiger

2. การอ่านข้อมูลจากไฟล์ .csv เข้าสู่DataFrame

In [7]:
# loading a .csv file into a pandas DataFrame
records = pd.read_csv('zoo.csv', delimiter = ',')
print(records)

      animal  uniq_id  water_need
0   elephant     1001         500
1   elephant     1002         600
2   elephant     1003         550
3      tiger     1004         300
4      tiger     1005         320
5      tiger     1006         330
6      tiger     1007         290
7      tiger     1008         310
8      zebra     1009         200
9      zebra     1010         220
10     zebra     1011         240
11     zebra     1012         230
12     zebra     1013         220
13     zebra     1014         100
14     zebra     1015          80
15      lion     1016         420
16      lion     1017         600
17      lion     1018         500
18      lion     1019         390
19  kangaroo     1020         410
20  kangaroo     1021         430
21  kangaroo     1022         410

3. การเข้าถึง/คัดกรองข้อมูลใน DataFrame

In [8]:
# loading a .csv file into a pandas DataFrame
records = pd.read_csv('pandas_tutorial_read.csv', delimiter = ';',
        names = ['my_datetime', 'event', 'country', 'user_id', 'source', 'topic'])
# print the first 10 rows of the data
print(records.loc[0:10, :])

            my_datetime event    country     user_id   source          topic
0   2018-01-01 00:01:01  read  country_7  2458151261      SEO  North America
1   2018-01-01 00:03:20  read  country_7  2458151262      SEO  South America
2   2018-01-01 00:04:01  read  country_7  2458151263  AdWords         Africa
3   2018-01-01 00:04:02  read  country_7  2458151264  AdWords         Europe
4   2018-01-01 00:05:03  read  country_8  2458151265   Reddit  North America
5   2018-01-01 00:05:42  read  country_6  2458151266   Reddit  North America
6   2018-01-01 00:06:06  read  country_2  2458151267   Reddit         Europe
7   2018-01-01 00:06:15  read  country_6  2458151268  AdWords         Europe
8   2018-01-01 00:07:21  read  country_7  2458151269  AdWords  North America
9   2018-01-01 00:07:29  read  country_5  2458151270   Reddit  North America
10  2018-01-01 00:07:57  read  country_5  2458151271  AdWords           Asia

In [9]:
# print only the first 5 lines
print(records.head())
print("-" * 80)
# print only the last 5 lines
print(records.tail())
print("-" * 80)
# print 8 ramdom lines
print(records.sample(8))

           my_datetime event    country     user_id   source          topic
0  2018-01-01 00:01:01  read  country_7  2458151261      SEO  North America
1  2018-01-01 00:03:20  read  country_7  2458151262      SEO  South America
2  2018-01-01 00:04:01  read  country_7  2458151263  AdWords         Africa
3  2018-01-01 00:04:02  read  country_7  2458151264  AdWords         Europe
4  2018-01-01 00:05:03  read  country_8  2458151265   Reddit  North America
--------------------------------------------------------------------------------
              my_datetime event    country     user_id   source          topic
1790  2018-01-01 23:57:14  read  country_2  2458153051  AdWords  North America
1791  2018-01-01 23:58:33  read  country_8  2458153052      SEO           Asia
1792  2018-01-01 23:59:36  read  country_6  2458153053   Reddit           Asia
1793  2018-01-01 23:59:36  read  country_7  2458153054  AdWords         Europe
1794  2018-01-01 23:59:38  read  country_5  2458153055   Reddit           Asia
--------------------------------------------------------------------------------
              my_datetime event    country     user_id   source          topic
1561  2018-01-01 21:11:07  read  country_2  2458152822  AdWords         Europe
188   2018-01-01 02:43:16  read  country_6  2458151449      SEO      Australia
459   2018-01-01 06:10:06  read  country_7  2458151720  AdWords           Asia
1077  2018-01-01 14:31:48  read  country_2  2458152338   Reddit           Asia
1046  2018-01-01 14:03:38  read  country_6  2458152307      SEO  North America
496   2018-01-01 06:38:34  read  country_4  2458151757   Reddit           Asia
530   2018-01-01 07:14:28  read  country_6  2458151791      SEO         Europe
1398  2018-01-01 19:00:24  read  country_8  2458152659  AdWords           Asia

In [10]:
# print the 'country' and the 'user-id colums only.
print(records[['country', 'user_id']])

        country     user_id
0     country_7  2458151261
1     country_7  2458151262
2     country_7  2458151263
3     country_7  2458151264
4     country_8  2458151265
...         ...         ...
1790  country_2  2458153051
1791  country_8  2458153052
1792  country_6  2458153053
1793  country_7  2458153054
1794  country_5  2458153055

[1795 rows x 2 columns]

In [11]:
# get Series objects instead of DataFrames
print(records.user_id)
print("-" * 80)
print(records[['user_id']])

0       2458151261
1       2458151262
2       2458151263
3       2458151264
4       2458151265
           ...
1790    2458153051
1791    2458153052
1792    2458153053
1793    2458153054
1794    2458153055
Name: user_id, Length: 1795, dtype: int64
--------------------------------------------------------------------------------
         user_id
0     2458151261
1     2458151262
2     2458151263
3     2458151264
4     2458151265
...          ...
1790  2458153051
1791  2458153052
1792  2458153053
1793  2458153054
1794  2458153055

[1795 rows x 1 columns]

In [12]:
# print rows 1-10 of DataFrame
print(records.loc[1:10, :])
print("-" * 80)
# print even rows from the first 20 rows of DataFrame
print(records.loc[2:20:2, :])

            my_datetime event    country     user_id   source          topic
1   2018-01-01 00:03:20  read  country_7  2458151262      SEO  South America
2   2018-01-01 00:04:01  read  country_7  2458151263  AdWords         Africa
3   2018-01-01 00:04:02  read  country_7  2458151264  AdWords         Europe
4   2018-01-01 00:05:03  read  country_8  2458151265   Reddit  North America
5   2018-01-01 00:05:42  read  country_6  2458151266   Reddit  North America
6   2018-01-01 00:06:06  read  country_2  2458151267   Reddit         Europe
7   2018-01-01 00:06:15  read  country_6  2458151268  AdWords         Europe
8   2018-01-01 00:07:21  read  country_7  2458151269  AdWords  North America
9   2018-01-01 00:07:29  read  country_5  2458151270   Reddit  North America
10  2018-01-01 00:07:57  read  country_5  2458151271  AdWords           Asia
--------------------------------------------------------------------------------
            my_datetime event    country     user_id   source          topic
2   2018-01-01 00:04:01  read  country_7  2458151263  AdWords         Africa
4   2018-01-01 00:05:03  read  country_8  2458151265   Reddit  North America
6   2018-01-01 00:06:06  read  country_2  2458151267   Reddit         Europe
8   2018-01-01 00:07:21  read  country_7  2458151269  AdWords  North America
10  2018-01-01 00:07:57  read  country_5  2458151271  AdWords           Asia
12  2018-01-01 00:09:11  read  country_5  2458151273   Reddit           Asia
14  2018-01-01 00:11:06  read  country_7  2458151275   Reddit         Africa
16  2018-01-01 00:13:05  read  country_8  2458151277      SEO  North America
18  2018-01-01 00:13:39  read  country_4  2458151279      SEO  North America
20  2018-01-01 00:15:44  read  country_2  2458151281   Reddit           Asia

In [13]:
# print even rows from rows 0-10 of DataFrame with only
# 'country' and 'user_id' columns
print(records.loc[0:10:2, ['country', 'user_id']])
print("-" * 80)
# display the 1st row of data
print(records.loc[0:0, :])
print("-" * 80)
# gets columns name of the DataFrame
print(records.columns)
print(list(records.columns))

      country     user_id
0   country_7  2458151261
2   country_7  2458151263
4   country_8  2458151265
6   country_2  2458151267
8   country_7  2458151269
10  country_5  2458151271
--------------------------------------------------------------------------------
           my_datetime event    country     user_id source          topic
0  2018-01-01 00:01:01  read  country_7  2458151261    SEO  North America
--------------------------------------------------------------------------------
Index(['my_datetime', 'event', 'country', 'user_id', 'source', 'topic'], dtype='object')
['my_datetime', 'event', 'country', 'user_id', 'source', 'topic']

In [14]:
# boolean expresstion of users who came from the 'SEO'
print(records.source == 'SEO')

0        True
1        True
2       False
3       False
4       False
        ...
1790    False
1791     True
1792    False
1793    False
1794    False
Name: source, Length: 1795, dtype: bool

In [15]:
# prints every row where this value is True
print(records[records.source == 'SEO'])

              my_datetime event    country     user_id source          topic
0     2018-01-01 00:01:01  read  country_7  2458151261    SEO  North America
1     2018-01-01 00:03:20  read  country_7  2458151262    SEO  South America
11    2018-01-01 00:08:57  read  country_7  2458151272    SEO      Australia
15    2018-01-01 00:11:22  read  country_7  2458151276    SEO  North America
16    2018-01-01 00:13:05  read  country_8  2458151277    SEO  North America
...                   ...   ...        ...         ...    ...            ...
1772  2018-01-01 23:45:58  read  country_7  2458153033    SEO  South America
1777  2018-01-01 23:49:52  read  country_5  2458153038    SEO  North America
1779  2018-01-01 23:51:25  read  country_4  2458153040    SEO  South America
1784  2018-01-01 23:54:03  read  country_2  2458153045    SEO  North America
1791  2018-01-01 23:58:33  read  country_8  2458153052    SEO           Asia

[346 rows x 6 columns]

In [16]:
# 1) select the data where source = 'SEO'
# 2) prints the first 12 rows of the results
print(records[records.source == 'SEO'].head(12))
print("-" * 80)
# 1) select the first 12 rows of data
# 2) prints the results where source = 'SEO'
print(records.head(12)[records.source == 'SEO'])
print("-" * 80)
tmp = records.head(12)
print(tmp[tmp.source == 'SEO'])

            my_datetime event    country     user_id source          topic
0   2018-01-01 00:01:01  read  country_7  2458151261    SEO  North America
1   2018-01-01 00:03:20  read  country_7  2458151262    SEO  South America
11  2018-01-01 00:08:57  read  country_7  2458151272    SEO      Australia
15  2018-01-01 00:11:22  read  country_7  2458151276    SEO  North America
16  2018-01-01 00:13:05  read  country_8  2458151277    SEO  North America
18  2018-01-01 00:13:39  read  country_4  2458151279    SEO  North America
26  2018-01-01 00:20:18  read  country_5  2458151287    SEO  North America
27  2018-01-01 00:20:44  read  country_2  2458151288    SEO  North America
30  2018-01-01 00:24:52  read  country_6  2458151291    SEO  North America
41  2018-01-01 00:35:23  read  country_5  2458151302    SEO           Asia
54  2018-01-01 00:46:42  read  country_5  2458151315    SEO  North America
56  2018-01-01 00:49:37  read  country_7  2458151317    SEO  North America
--------------------------------------------------------------------------------
            my_datetime event    country     user_id source          topic
0   2018-01-01 00:01:01  read  country_7  2458151261    SEO  North America
1   2018-01-01 00:03:20  read  country_7  2458151262    SEO  South America
11  2018-01-01 00:08:57  read  country_7  2458151272    SEO      Australia
--------------------------------------------------------------------------------
            my_datetime event    country     user_id source          topic
0   2018-01-01 00:01:01  read  country_7  2458151261    SEO  North America
1   2018-01-01 00:03:20  read  country_7  2458151262    SEO  South America
11  2018-01-01 00:08:57  read  country_7  2458151272    SEO      Australia

C:\Users\herob\AppData\Local\Temp\ipykernel_15308\4114048493.py:7: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  print(records.head(12)[records.source == 'SEO'])

# ไปทำแบบฝึกหัดที่ 1

4. การคำนวณและจัดการข้อมูลตัวเลข

In [17]:
# loading a .csv file into a pandas DataFrame
zoo = pd.read_csv('zoo.csv', delimiter = ',')
zoo

      animal  uniq_id  water_need
0   elephant     1001         500
1   elephant     1002         600
2   elephant     1003         550
3      tiger     1004         300
4      tiger     1005         320
5      tiger     1006         330
6      tiger     1007         290
7      tiger     1008         310
8      zebra     1009         200
9      zebra     1010         220
10     zebra     1011         240
11     zebra     1012         230
12     zebra     1013         220
13     zebra     1014         100
14     zebra     1015          80
15      lion     1016         420
16      lion     1017         600
17      lion     1018         500
18      lion     1019         390
19  kangaroo     1020         410
20  kangaroo     1021         430
21  kangaroo     1022         410

In [21]:
# get the DataFrame shape (rows, columns)
rows, cols = zoo.shape
print(rows, cols)
print("-" * 20)
# et the DataFrame #rows, #columns
print(len(zoo), len(zoo.columns))

22 3
--------------------
22 3

In [18]:
# count the number of row in DataFrame
print(zoo.count())
print("-" * 20)
print(zoo[['animal']].count())
print("-" * 20)
print(zoo.animal.count())
print("-" * 20)
# count the number of tiger
print(len(zoo[zoo.animal == 'tiger']))

animal        22
uniq_id       22
water_need    22
dtype: int64
--------------------
animal    22
dtype: int64
--------------------
22
--------------------
5

In [19]:
# example of groupby()
print(zoo.groupby('animal').size())
print("-" * 40)
print(zoo.groupby('animal').count())
print("-" * 40)
# the summation of water_need of each animal category
print(zoo.groupby('animal').water_need.sum())

animal
elephant    3
kangaroo    3
lion        4
tiger       5
zebra       7
dtype: int64
----------------------------------------
          uniq_id  water_need
animal
elephant        3           3
kangaroo        3           3
lion            4           4
tiger           5           5
zebra           7           7
----------------------------------------
animal
elephant    1650
kangaroo    1250
lion        1910
tiger       1550
zebra       1290
Name: water_need, dtype: int64

In [20]:
# find the mininum water_need
print(zoo.water_need.min())
print("-" * 40)
# find the maximum water_need
print(zoo.water_need.max())
print("-" * 40)
# find the water_need of all elephant
print(zoo[zoo.animal == 'elephant'].water_need)
print("-" * 40)
# find the maximum water_need of elephant
print(zoo[zoo.animal == 'elephant'].water_need.max())

80
----------------------------------------
600
----------------------------------------
0    500
1    600
2    550
Name: water_need, dtype: int64
----------------------------------------
600

In [21]:
# Creating the DataFrame
tmp = pd.DataFrame({"A":[43, 56, 12, 36],
                "B":[11, 25, 90, 81],
                "C":[61, 18, 66, 47]})
tmp

    A   B   C
0  43  11  61
1  56  25  18
2  12  90  66
3  36  81  47

In [22]:
# applying min() function: row-wise
print(tmp.min(axis=0))
print("-" * 40)
# applying idxmin() function: row-wise
print(tmp.idxmin(axis=0))
print("-" * 40)
# applying min() function: column-wise
print(tmp.min(axis=1))
print("-" * 40)
# applying idxmin() function: column-wise
print(tmp.idxmin(axis=1))

A    12
B    11
C    18
dtype: int64
----------------------------------------
A    2
B    0
C    1
dtype: int64
----------------------------------------
0    11
1    18
2    12
3    36
dtype: int64
----------------------------------------
0    B
1    C
2    A
3    A
dtype: object

In [23]:
samples = pd.Series([9, 3, 1, 8, 3, 6])
# display row data
samples

0    9
1    3
2    1
3    8
4    3
5    6
dtype: int64

In [24]:
# mean value: sum(samples) / len(samples)
print('mean:', samples.mean())
print("-" * 25)
# median value: sort(samples), then pick the value in the middle
print('median:', samples.median())
print(zoo.water_need.median())  # water_need: median
print("-" * 25)
# mode value: most frequency values
print('mode:', samples.mode())
print(zoo.water_need.mode())  # water_need: mod
print("-" * 25)
# standard deviation: the amount of dispersion of a set of values
print('sd:', samples.std())
print(zoo.water_need.std())  # water_need: sd

mean: 5.0
-------------------------
median: 4.5
325.0
-------------------------
mode: 0    3
dtype: int64
0    220
1    410
2    500
3    600
Name: water_need, dtype: int64
-------------------------
sd: 3.1622776601683795
147.54924337582767

# ไปทำแบบฝึกที่ 2

5. การจัดกลุ่มข้อมูล

In [30]:
zoo

      animal  uniq_id  water_need
0   elephant     1001         500
1   elephant     1002         600
2   elephant     1003         550
3      tiger     1004         300
4      tiger     1005         320
5      tiger     1006         330
6      tiger     1007         290
7      tiger     1008         310
8      zebra     1009         200
9      zebra     1010         220
10     zebra     1011         240
11     zebra     1012         230
12     zebra     1013         220
13     zebra     1014         100
14     zebra     1015          80
15      lion     1016         420
16      lion     1017         600
17      lion     1018         500
18      lion     1019         390
19  kangaroo     1020         410
20  kangaroo     1021         430
21  kangaroo     1022         410

In [31]:
# group by column
print(zoo.groupby('animal'))
print("-" * 40)
# visualize the group
print(zoo.groupby('animal').groups)
print("-" * 40)
print(list(zoo.groupby('animal')))

<pandas.core.groupby.generic.DataFrameGroupBy object at 0x0000023262FC3880>
----------------------------------------
{'elephant': [0, 1, 2], 'kangaroo': [19, 20, 21], 'lion': [15, 16, 17, 18], 'tiger': [3, 4, 5, 6, 7], 'zebra': [8, 9, 10, 11, 12, 13, 14]}
----------------------------------------
[('elephant',      animal  uniq_id  water_need
0  elephant     1001         500
1  elephant     1002         600
2  elephant     1003         550), ('kangaroo',       animal  uniq_id  water_need
19  kangaroo     1020         410
20  kangaroo     1021         430
21  kangaroo     1022         410), ('lion',    animal  uniq_id  water_need
15   lion     1016         420
16   lion     1017         600
17   lion     1018         500
18   lion     1019         390), ('tiger',   animal  uniq_id  water_need
3  tiger     1004         300
4  tiger     1005         320
5  tiger     1006         330
6  tiger     1007         290
7  tiger     1008         310), ('zebra',    animal  uniq_id  water_need
8   zebra     1009         200
9   zebra     1010         220
10  zebra     1011         240
11  zebra     1012         230
12  zebra     1013         220
13  zebra     1014         100
14  zebra     1015          80)]

In [29]:
records

              my_datetime event    country     user_id   source          topic
0     2018-01-01 00:01:01  read  country_7  2458151261      SEO  North America
1     2018-01-01 00:03:20  read  country_7  2458151262      SEO  South America
2     2018-01-01 00:04:01  read  country_7  2458151263  AdWords         Africa
3     2018-01-01 00:04:02  read  country_7  2458151264  AdWords         Europe
4     2018-01-01 00:05:03  read  country_8  2458151265   Reddit  North America
...                   ...   ...        ...         ...      ...            ...
1790  2018-01-01 23:57:14  read  country_2  2458153051  AdWords  North America
1791  2018-01-01 23:58:33  read  country_8  2458153052      SEO           Asia
1792  2018-01-01 23:59:36  read  country_6  2458153053   Reddit           Asia
1793  2018-01-01 23:59:36  read  country_7  2458153054  AdWords         Europe
1794  2018-01-01 23:59:38  read  country_5  2458153055   Reddit           Asia

[1795 rows x 6 columns]

In [32]:
list(records.groupby(['country', 'source', 'topic']))

[(('country_1', 'AdWords', 'Asia'),
               my_datetime event    country     user_id   source topic
  288  2018-01-01 03:53:42  read  country_1  2458151549  AdWords  Asia
  309  2018-01-01 04:10:59  read  country_1  2458151570  AdWords  Asia
  419  2018-01-01 05:47:29  read  country_1  2458151680  AdWords  Asia
  745  2018-01-01 10:04:56  read  country_1  2458152006  AdWords  Asia
  948  2018-01-01 12:40:25  read  country_1  2458152209  AdWords  Asia),
 (('country_1', 'AdWords', 'Australia'),
               my_datetime event    country     user_id   source      topic
  413  2018-01-01 05:43:20  read  country_1  2458151674  AdWords  Australia),
 (('country_1', 'AdWords', 'Europe'),
                my_datetime event    country     user_id   source   topic
  90    2018-01-01 01:20:04  read  country_1  2458151351  AdWords  Europe
  175   2018-01-01 02:31:25  read  country_1  2458151436  AdWords  Europe
  1279  2018-01-01 17:17:37  read  country_1  2458152540  AdWords  Europe
  1722  2018-01-01 23:13:57  read  country_1  2458152983  AdWords  Europe),
 (('country_1', 'AdWords', 'North America'),
               my_datetime event    country     user_id   source          topic
  336  2018-01-01 04:26:24  read  country_1  2458151597  AdWords  North America),
 (('country_1', 'Reddit', 'Africa'),
                my_datetime event    country     user_id  source   topic
  1362  2018-01-01 18:26:07  read  country_1  2458152623  Reddit  Africa),
 (('country_1', 'Reddit', 'Asia'),
                my_datetime event    country     user_id  source topic
  283   2018-01-01 03:52:12  read  country_1  2458151544  Reddit  Asia
  304   2018-01-01 04:07:41  read  country_1  2458151565  Reddit  Asia
  563   2018-01-01 07:43:58  read  country_1  2458151824  Reddit  Asia
  733   2018-01-01 09:58:13  read  country_1  2458151994  Reddit  Asia
  885   2018-01-01 11:59:05  read  country_1  2458152146  Reddit  Asia
  1026  2018-01-01 13:47:11  read  country_1  2458152287  Reddit  Asia
  1209  2018-01-01 16:25:35  read  country_1  2458152470  Reddit  Asia
  1234  2018-01-01 16:45:45  read  country_1  2458152495  Reddit  Asia
  1404  2018-01-01 19:06:48  read  country_1  2458152665  Reddit  Asia
  1685  2018-01-01 22:47:36  read  country_1  2458152946  Reddit  Asia),
 (('country_1', 'Reddit', 'Australia'),
               my_datetime event    country     user_id  source      topic
  955  2018-01-01 12:42:58  read  country_1  2458152216  Reddit  Australia),
 (('country_1', 'Reddit', 'Europe'),
                my_datetime event    country     user_id  source   topic
  730   2018-01-01 09:56:00  read  country_1  2458151991  Reddit  Europe
  903   2018-01-01 12:08:14  read  country_1  2458152164  Reddit  Europe
  1111  2018-01-01 14:51:58  read  country_1  2458152372  Reddit  Europe),
 (('country_1', 'Reddit', 'North America'),
                my_datetime event    country     user_id  source          topic
  1486  2018-01-01 20:13:48  read  country_1  2458152747  Reddit  North America),
 (('country_1', 'Reddit', 'South America'),
               my_datetime event    country     user_id  source          topic
  229  2018-01-01 03:11:22  read  country_1  2458151490  Reddit  South America),
 (('country_1', 'SEO', 'Africa'),
                my_datetime event    country     user_id source   topic
  1688  2018-01-01 22:49:18  read  country_1  2458152949    SEO  Africa),
 (('country_1', 'SEO', 'Asia'),
                my_datetime event    country     user_id source topic
  1257  2018-01-01 16:59:56  read  country_1  2458152518    SEO  Asia),
 (('country_1', 'SEO', 'Europe'),
                my_datetime event    country     user_id source   topic
  1324  2018-01-01 18:01:11  read  country_1  2458152585    SEO  Europe),
 (('country_1', 'SEO', 'North America'),
                my_datetime event    country     user_id source          topic
  381   2018-01-01 05:13:09  read  country_1  2458151642    SEO  North America
  383   2018-01-01 05:15:08  read  country_1  2458151644    SEO  North America
  656   2018-01-01 08:58:50  read  country_1  2458151917    SEO  North America
  1170  2018-01-01 15:46:00  read  country_1  2458152431    SEO  North America),
 (('country_1', 'SEO', 'South America'),
               my_datetime event    country     user_id source          topic
  791  2018-01-01 10:40:49  read  country_1  2458152052    SEO  South America),
 (('country_2', 'AdWords', 'Africa'),
                my_datetime event    country     user_id   source   topic
  350   2018-01-01 04:37:33  read  country_2  2458151611  AdWords  Africa
  690   2018-01-01 09:25:19  read  country_2  2458151951  AdWords  Africa
  1785  2018-01-01 23:54:26  read  country_2  2458153046  AdWords  Africa),
 (('country_2', 'AdWords', 'Asia'),
                my_datetime event    country     user_id   source topic
  71    2018-01-01 01:03:59  read  country_2  2458151332  AdWords  Asia
  148   2018-01-01 02:10:46  read  country_2  2458151409  AdWords  Asia
  285   2018-01-01 03:53:07  read  country_2  2458151546  AdWords  Asia
  402   2018-01-01 05:35:55  read  country_2  2458151663  AdWords  Asia
  415   2018-01-01 05:44:15  read  country_2  2458151676  AdWords  Asia
  438   2018-01-01 05:58:36  read  country_2  2458151699  AdWords  Asia
  484   2018-01-01 06:28:57  read  country_2  2458151745  AdWords  Asia
  500   2018-01-01 06:42:19  read  country_2  2458151761  AdWords  Asia
  509   2018-01-01 06:51:09  read  country_2  2458151770  AdWords  Asia
  514   2018-01-01 06:56:12  read  country_2  2458151775  AdWords  Asia
  612   2018-01-01 08:17:43  read  country_2  2458151873  AdWords  Asia
  620   2018-01-01 08:23:59  read  country_2  2458151881  AdWords  Asia
  659   2018-01-01 09:01:09  read  country_2  2458151920  AdWords  Asia
  664   2018-01-01 09:06:47  read  country_2  2458151925  AdWords  Asia
  735   2018-01-01 09:59:38  read  country_2  2458151996  AdWords  Asia
  755   2018-01-01 10:09:13  read  country_2  2458152016  AdWords  Asia
  980   2018-01-01 13:08:52  read  country_2  2458152241  AdWords  Asia
  1017  2018-01-01 13:42:42  read  country_2  2458152278  AdWords  Asia
  1019  2018-01-01 13:43:06  read  country_2  2458152280  AdWords  Asia
  1024  2018-01-01 13:46:50  read  country_2  2458152285  AdWords  Asia
  1031  2018-01-01 13:50:49  read  country_2  2458152292  AdWords  Asia
  1108  2018-01-01 14:51:20  read  country_2  2458152369  AdWords  Asia
  1121  2018-01-01 15:00:17  read  country_2  2458152382  AdWords  Asia
  1151  2018-01-01 15:29:16  read  country_2  2458152412  AdWords  Asia
  1309  2018-01-01 17:45:09  read  country_2  2458152570  AdWords  Asia
  1460  2018-01-01 19:52:30  read  country_2  2458152721  AdWords  Asia
  1614  2018-01-01 21:50:37  read  country_2  2458152875  AdWords  Asia
  1749  2018-01-01 23:28:02  read  country_2  2458153010  AdWords  Asia
  1774  2018-01-01 23:46:22  read  country_2  2458153035  AdWords  Asia
  1775  2018-01-01 23:47:19  read  country_2  2458153036  AdWords  Asia
  1782  2018-01-01 23:53:03  read  country_2  2458153043  AdWords  Asia),
 (('country_2', 'AdWords', 'Australia'),
                my_datetime event    country     user_id   source      topic
  221   2018-01-01 03:08:43  read  country_2  2458151482  AdWords  Australia
  238   2018-01-01 03:19:25  read  country_2  2458151499  AdWords  Australia
  343   2018-01-01 04:31:46  read  country_2  2458151604  AdWords  Australia
  1060  2018-01-01 14:15:37  read  country_2  2458152321  AdWords  Australia
  1552  2018-01-01 21:00:46  read  country_2  2458152813  AdWords  Australia
  1693  2018-01-01 22:53:13  read  country_2  2458152954  AdWords  Australia),
 (('country_2', 'AdWords', 'Europe'),
                my_datetime event    country     user_id   source   topic
  22    2018-01-01 00:17:15  read  country_2  2458151283  AdWords  Europe
  99    2018-01-01 01:29:05  read  country_2  2458151360  AdWords  Europe
  118   2018-01-01 01:45:08  read  country_2  2458151379  AdWords  Europe
  165   2018-01-01 02:20:48  read  country_2  2458151426  AdWords  Europe
  189   2018-01-01 02:43:29  read  country_2  2458151450  AdWords  Europe
  205   2018-01-01 02:54:36  read  country_2  2458151466  AdWords  Europe
  246   2018-01-01 03:25:09  read  country_2  2458151507  AdWords  Europe
  315   2018-01-01 04:13:05  read  country_2  2458151576  AdWords  Europe
  317   2018-01-01 04:15:01  read  country_2  2458151578  AdWords  Europe
  382   2018-01-01 05:14:40  read  country_2  2458151643  AdWords  Europe
  450   2018-01-01 06:06:47  read  country_2  2458151711  AdWords  Europe
  471   2018-01-01 06:21:50  read  country_2  2458151732  AdWords  Europe
  517   2018-01-01 06:57:54  read  country_2  2458151778  AdWords  Europe
  560   2018-01-01 07:41:30  read  country_2  2458151821  AdWords  Europe
  652   2018-01-01 08:53:50  read  country_2  2458151913  AdWords  Europe
  677   2018-01-01 09:19:28  read  country_2  2458151938  AdWords  Europe
  678   2018-01-01 09:19:47  read  country_2  2458151939  AdWords  Europe
  712   2018-01-01 09:42:54  read  country_2  2458151973  AdWords  Europe
  780   2018-01-01 10:33:30  read  country_2  2458152041  AdWords  Europe
  808   2018-01-01 11:00:58  read  country_2  2458152069  AdWords  Europe
  810   2018-01-01 11:01:56  read  country_2  2458152071  AdWords  Europe
  838   2018-01-01 11:24:41  read  country_2  2458152099  AdWords  Europe
  875   2018-01-01 11:51:15  read  country_2  2458152136  AdWords  Europe
  984   2018-01-01 13:11:40  read  country_2  2458152245  AdWords  Europe
  1006  2018-01-01 13:34:35  read  country_2  2458152267  AdWords  Europe
  1030  2018-01-01 13:49:55  read  country_2  2458152291  AdWords  Europe
  1135  2018-01-01 15:11:50  read  country_2  2458152396  AdWords  Europe
  1152  2018-01-01 15:29:20  read  country_2  2458152413  AdWords  Europe
  1157  2018-01-01 15:35:56  read  country_2  2458152418  AdWords  Europe
  1251  2018-01-01 16:55:31  read  country_2  2458152512  AdWords  Europe
  1287  2018-01-01 17:24:13  read  country_2  2458152548  AdWords  Europe
  1311  2018-01-01 17:48:06  read  country_2  2458152572  AdWords  Europe
  1426  2018-01-01 19:25:12  read  country_2  2458152687  AdWords  Europe
  1456  2018-01-01 19:48:35  read  country_2  2458152717  AdWords  Europe
  1458  2018-01-01 19:51:03  read  country_2  2458152719  AdWords  Europe
  1493  2018-01-01 20:20:34  read  country_2  2458152754  AdWords  Europe
  1515  2018-01-01 20:36:00  read  country_2  2458152776  AdWords  Europe
  1530  2018-01-01 20:45:40  read  country_2  2458152791  AdWords  Europe
  1546  2018-01-01 20:56:36  read  country_2  2458152807  AdWords  Europe
  1551  2018-01-01 21:00:21  read  country_2  2458152812  AdWords  Europe
  1561  2018-01-01 21:11:07  read  country_2  2458152822  AdWords  Europe
  1588  2018-01-01 21:29:09  read  country_2  2458152849  AdWords  Europe
  1627  2018-01-01 22:02:58  read  country_2  2458152888  AdWords  Europe
  1651  2018-01-01 22:17:17  read  country_2  2458152912  AdWords  Europe
  1661  2018-01-01 22:27:56  read  country_2  2458152922  AdWords  Europe
  1745  2018-01-01 23:25:02  read  country_2  2458153006  AdWords  Europe),
 (('country_2', 'AdWords', 'North America'),
                my_datetime event    country     user_id   source          topic
  25    2018-01-01 00:18:55  read  country_2  2458151286  AdWords  North America
  115   2018-01-01 01:42:10  read  country_2  2458151376  AdWords  North America
  407   2018-01-01 05:38:31  read  country_2  2458151668  AdWords  North America
  727   2018-01-01 09:52:46  read  country_2  2458151988  AdWords  North America
  767   2018-01-01 10:20:51  read  country_2  2458152028  AdWords  North America
  776   2018-01-01 10:28:10  read  country_2  2458152037  AdWords  North America
  1165  2018-01-01 15:40:29  read  country_2  2458152426  AdWords  North America
  1247  2018-01-01 16:53:45  read  country_2  2458152508  AdWords  North America
  1558  2018-01-01 21:08:30  read  country_2  2458152819  AdWords  North America
  1743  2018-01-01 23:23:58  read  country_2  2458153004  AdWords  North America
  1790  2018-01-01 23:57:14  read  country_2  2458153051  AdWords  North America),
 (('country_2', 'AdWords', 'South America'),
                my_datetime event    country     user_id   source          topic
  121   2018-01-01 01:49:08  read  country_2  2458151382  AdWords  South America
  261   2018-01-01 03:30:03  read  country_2  2458151522  AdWords  South America
  341   2018-01-01 04:27:52  read  country_2  2458151602  AdWords  South America
  541   2018-01-01 07:25:55  read  country_2  2458151802  AdWords  South America
  670   2018-01-01 09:14:19  read  country_2  2458151931  AdWords  South America
  911   2018-01-01 12:14:20  read  country_2  2458152172  AdWords  South America
  1097  2018-01-01 14:45:06  read  country_2  2458152358  AdWords  South America
  1284  2018-01-01 17:21:12  read  country_2  2458152545  AdWords  South America
  1285  2018-01-01 17:21:15  read  country_2  2458152546  AdWords  South America
  1540  2018-01-01 20:53:36  read  country_2  2458152801  AdWords  South America
  1634  2018-01-01 22:06:10  read  country_2  2458152895  AdWords  South America
  1638  2018-01-01 22:08:40  read  country_2  2458152899  AdWords  South America
  1672  2018-01-01 22:39:01  read  country_2  2458152933  AdWords  South America
  1750  2018-01-01 23:29:00  read  country_2  2458153011  AdWords  South America),
 (('country_2', 'Reddit', 'Africa'),
                my_datetime event    country     user_id  source   topic
  82    2018-01-01 01:17:10  read  country_2  2458151343  Reddit  Africa
  124   2018-01-01 01:50:55  read  country_2  2458151385  Reddit  Africa
  138   2018-01-01 02:02:24  read  country_2  2458151399  Reddit  Africa
  167   2018-01-01 02:23:04  read  country_2  2458151428  Reddit  Africa
  286   2018-01-01 03:53:16  read  country_2  2458151547  Reddit  Africa
  287   2018-01-01 03:53:30  read  country_2  2458151548  Reddit  Africa
  448   2018-01-01 06:05:22  read  country_2  2458151709  Reddit  Africa
  504   2018-01-01 06:45:41  read  country_2  2458151765  Reddit  Africa
  508   2018-01-01 06:50:08  read  country_2  2458151769  Reddit  Africa
  663   2018-01-01 09:06:22  read  country_2  2458151924  Reddit  Africa
  693   2018-01-01 09:26:18  read  country_2  2458151954  Reddit  Africa
  729   2018-01-01 09:55:50  read  country_2  2458151990  Reddit  Africa
  753   2018-01-01 10:08:42  read  country_2  2458152014  Reddit  Africa
  894   2018-01-01 12:02:50  read  country_2  2458152155  Reddit  Africa
  1040  2018-01-01 13:59:49  read  country_2  2458152301  Reddit  Africa
  1080  2018-01-01 14:34:07  read  country_2  2458152341  Reddit  Africa
  1109  2018-01-01 14:51:21  read  country_2  2458152370  Reddit  Africa
  1188  2018-01-01 16:04:50  read  country_2  2458152449  Reddit  Africa
  1412  2018-01-01 19:14:27  read  country_2  2458152673  Reddit  Africa
  1446  2018-01-01 19:38:05  read  country_2  2458152707  Reddit  Africa
  1591  2018-01-01 21:33:51  read  country_2  2458152852  Reddit  Africa
  1709  2018-01-01 23:03:14  read  country_2  2458152970  Reddit  Africa
  1758  2018-01-01 23:32:59  read  country_2  2458153019  Reddit  Africa
  1765  2018-01-01 23:41:11  read  country_2  2458153026  Reddit  Africa),
 (('country_2', 'Reddit', 'Asia'),
                my_datetime event    country     user_id  source topic
  17    2018-01-01 00:13:06  read  country_2  2458151278  Reddit  Asia
  19    2018-01-01 00:14:53  read  country_2  2458151280  Reddit  Asia
  20    2018-01-01 00:15:44  read  country_2  2458151281  Reddit  Asia
  23    2018-01-01 00:17:31  read  country_2  2458151284  Reddit  Asia
  28    2018-01-01 00:23:16  read  country_2  2458151289  Reddit  Asia
  ...                   ...   ...        ...         ...     ...   ...
  1738  2018-01-01 23:22:29  read  country_2  2458152999  Reddit  Asia
  1761  2018-01-01 23:35:40  read  country_2  2458153022  Reddit  Asia
  1778  2018-01-01 23:51:17  read  country_2  2458153039  Reddit  Asia
  1781  2018-01-01 23:51:52  read  country_2  2458153042  Reddit  Asia
  1787  2018-01-01 23:54:45  read  country_2  2458153048  Reddit  Asia

  [139 rows x 6 columns]),
 (('country_2', 'Reddit', 'Australia'),
                my_datetime event    country     user_id  source      topic
  116   2018-01-01 01:42:15  read  country_2  2458151377  Reddit  Australia
  303   2018-01-01 04:07:19  read  country_2  2458151564  Reddit  Australia
  342   2018-01-01 04:28:30  read  country_2  2458151603  Reddit  Australia
  442   2018-01-01 06:02:34  read  country_2  2458151703  Reddit  Australia
  498   2018-01-01 06:39:39  read  country_2  2458151759  Reddit  Australia
  573   2018-01-01 07:51:22  read  country_2  2458151834  Reddit  Australia
  594   2018-01-01 08:02:12  read  country_2  2458151855  Reddit  Australia
  718   2018-01-01 09:47:15  read  country_2  2458151979  Reddit  Australia
  824   2018-01-01 11:14:03  read  country_2  2458152085  Reddit  Australia
  826   2018-01-01 11:15:40  read  country_2  2458152087  Reddit  Australia
  985   2018-01-01 13:11:52  read  country_2  2458152246  Reddit  Australia
  1137  2018-01-01 15:14:20  read  country_2  2458152398  Reddit  Australia
  1405  2018-01-01 19:07:24  read  country_2  2458152666  Reddit  Australia
  1436  2018-01-01 19:31:02  read  country_2  2458152697  Reddit  Australia
  1457  2018-01-01 19:50:41  read  country_2  2458152718  Reddit  Australia
  1631  2018-01-01 22:04:28  read  country_2  2458152892  Reddit  Australia
  1704  2018-01-01 22:59:53  read  country_2  2458152965  Reddit  Australia
  1720  2018-01-01 23:11:49  read  country_2  2458152981  Reddit  Australia),
 (('country_2', 'Reddit', 'Europe'),
                my_datetime event    country     user_id  source   topic
  6     2018-01-01 00:06:06  read  country_2  2458151267  Reddit  Europe
  13    2018-01-01 00:09:29  read  country_2  2458151274  Reddit  Europe
  135   2018-01-01 01:59:20  read  country_2  2458151396  Reddit  Europe
  216   2018-01-01 03:02:39  read  country_2  2458151477  Reddit  Europe
  259   2018-01-01 03:29:25  read  country_2  2458151520  Reddit  Europe
  365   2018-01-01 04:55:42  read  country_2  2458151626  Reddit  Europe
  420   2018-01-01 05:47:29  read  country_2  2458151681  Reddit  Europe
  475   2018-01-01 06:24:08  read  country_2  2458151736  Reddit  Europe
  525   2018-01-01 07:05:36  read  country_2  2458151786  Reddit  Europe
  585   2018-01-01 07:56:44  read  country_2  2458151846  Reddit  Europe
  630   2018-01-01 08:28:42  read  country_2  2458151891  Reddit  Europe
  704   2018-01-01 09:36:05  read  country_2  2458151965  Reddit  Europe
  779   2018-01-01 10:32:51  read  country_2  2458152040  Reddit  Europe
  807   2018-01-01 11:00:30  read  country_2  2458152068  Reddit  Europe
  874   2018-01-01 11:51:08  read  country_2  2458152135  Reddit  Europe
  1007  2018-01-01 13:34:55  read  country_2  2458152268  Reddit  Europe
  1117  2018-01-01 14:55:50  read  country_2  2458152378  Reddit  Europe
  1174  2018-01-01 15:50:22  read  country_2  2458152435  Reddit  Europe
  1225  2018-01-01 16:37:14  read  country_2  2458152486  Reddit  Europe
  1292  2018-01-01 17:31:29  read  country_2  2458152553  Reddit  Europe
  1295  2018-01-01 17:34:15  read  country_2  2458152556  Reddit  Europe
  1367  2018-01-01 18:31:02  read  country_2  2458152628  Reddit  Europe
  1371  2018-01-01 18:34:19  read  country_2  2458152632  Reddit  Europe
  1394  2018-01-01 18:58:08  read  country_2  2458152655  Reddit  Europe
  1421  2018-01-01 19:21:51  read  country_2  2458152682  Reddit  Europe
  1577  2018-01-01 21:22:11  read  country_2  2458152838  Reddit  Europe
  1621  2018-01-01 21:56:41  read  country_2  2458152882  Reddit  Europe
  1654  2018-01-01 22:19:42  read  country_2  2458152915  Reddit  Europe
  1663  2018-01-01 22:30:24  read  country_2  2458152924  Reddit  Europe),
 (('country_2', 'Reddit', 'North America'),

In [33]:
# count the number of data in each group
records.groupby(['country', 'source', 'topic']).count()

                                 my_datetime  event  user_id
country   source  topic
country_1 AdWords Asia                     5      5        5
                  Australia                1      1        1
                  Europe                   4      4        4
                  North America            1      1        1
          Reddit  Africa                   1      1        1
...                                      ...    ...      ...
country_8 SEO     Asia                     6      6        6
                  Australia                1      1        1
                  Europe                   2      2        2
                  North America           21     21       21
                  South America            9      9        9

[132 rows x 3 columns]

In [35]:
# count the number of data in each group and find the group with maximum number of data
records.groupby(['country', 'source', 'topic']).count().max()

my_datetime    139
event          139
user_id        139
dtype: int64

In [36]:
records.groupby(['country', 'source', 'topic']).count().max(level=['country', 'source'])

C:\Users\herob\AppData\Local\Temp\ipykernel_15308\3242383339.py:1: FutureWarning: Using the level keyword in DataFrame and Series aggregations is deprecated and will be removed in a future version. Use groupby instead. df.median(level=1) should use df.groupby(level=1).median().
  records.groupby(['country', 'source', 'topic']).count().max(level=['country', 'source'])

                   my_datetime  event  user_id
country   source
country_1 AdWords            5      5        5
          Reddit            10     10       10
          SEO                4      4        4
country_2 AdWords           46     46       46
          Reddit           139    139      139
          SEO               42     42       42
country_3 AdWords            5      5        5
          Reddit             8      8        8
          SEO                4      4        4
country_4 AdWords            8      8        8
          Reddit            26     26       26
          SEO                7      7        7
country_5 AdWords           46     46       46
          Reddit           108    108      108
          SEO               45     45       45
country_6 AdWords           22     22       22
          Reddit            65     65       65
          SEO               26     26       26
country_7 AdWords           38     38       38
          Reddit            96     96       96
          SEO               27     27       27
country_8 AdWords           19     19       19
          Reddit            35     35       35
          SEO               21     21       21

In [37]:
records.groupby(['country', 'source', 'topic']).count().max(level='country')

C:\Users\herob\AppData\Local\Temp\ipykernel_15308\2539072276.py:1: FutureWarning: Using the level keyword in DataFrame and Series aggregations is deprecated and will be removed in a future version. Use groupby instead. df.median(level=1) should use df.groupby(level=1).median().
  records.groupby(['country', 'source', 'topic']).count().max(level='country')

           my_datetime  event  user_id
country
country_1           10     10       10
country_2          139    139      139
country_3            8      8        8
country_4           26     26       26
country_5          108    108      108
country_6           65     65       65
country_7           96     96       96
country_8           35     35       35

6. การจัดเรียงข้อมูล

In [38]:
# example of sort_values based on 'animal', then 'water_need'
zoo.sort_values(['animal', 'water_need'])

      animal  uniq_id  water_need
0   elephant     1001         500
2   elephant     1003         550
1   elephant     1002         600
19  kangaroo     1020         410
21  kangaroo     1022         410
20  kangaroo     1021         430
18      lion     1019         390
15      lion     1016         420
17      lion     1018         500
16      lion     1017         600
6      tiger     1007         290
3      tiger     1004         300
7      tiger     1008         310
4      tiger     1005         320
5      tiger     1006         330
14     zebra     1015          80
13     zebra     1014         100
8      zebra     1009         200
9      zebra     1010         220
12     zebra     1013         220
11     zebra     1012         230
10     zebra     1011         240

In [42]:
new_zoo = zoo.sort_values(['animal', 'water_need'], ascending=[1,0])  # reverse water_need
new_zoo

      animal  uniq_id  water_need
1   elephant     1002         600
2   elephant     1003         550
0   elephant     1001         500
20  kangaroo     1021         430
19  kangaroo     1020         410
21  kangaroo     1022         410
16      lion     1017         600
17      lion     1018         500
15      lion     1016         420
18      lion     1019         390
5      tiger     1006         330
4      tiger     1005         320
7      tiger     1008         310
3      tiger     1004         300
6      tiger     1007         290
10     zebra     1011         240
11     zebra     1012         230
9      zebra     1010         220
12     zebra     1013         220
8      zebra     1009         200
13     zebra     1014         100
14     zebra     1015          80

In [46]:
new_zoo.loc[0]      # ควรได้ uniq_idที่1002

animal        elephant
uniq_id           1001
water_need         500
Name: 0, dtype: object

In [47]:
new_zoo = zoo.sort_values(['animal', 'water_need'], ascending=[1,0]).reset_index()
new_zoo

    index    animal  uniq_id  water_need
0       1  elephant     1002         600
1       2  elephant     1003         550
2       0  elephant     1001         500
3      20  kangaroo     1021         430
4      19  kangaroo     1020         410
5      21  kangaroo     1022         410
6      16      lion     1017         600
7      17      lion     1018         500
8      15      lion     1016         420
9      18      lion     1019         390
10      5     tiger     1006         330
11      4     tiger     1005         320
12      7     tiger     1008         310
13      3     tiger     1004         300
14      6     tiger     1007         290
15     10     zebra     1011         240
16     11     zebra     1012         230
17      9     zebra     1010         220
18     12     zebra     1013         220
19      8     zebra     1009         200
20     13     zebra     1014         100
21     14     zebra     1015          80

In [48]:
new_zoo.loc[0]      # ได้ uniq_idที่1002 ตามที่ต้องการ

index                1
animal        elephant
uniq_id           1002
water_need         600
Name: 0, dtype: object

In [49]:
new_zoo = zoo.sort_values(['animal', 'water_need'], ascending=[1,0]).reset_index(drop=True)
new_zoo

      animal  uniq_id  water_need
0   elephant     1002         600
1   elephant     1003         550
2   elephant     1001         500
3   kangaroo     1021         430
4   kangaroo     1020         410
5   kangaroo     1022         410
6       lion     1017         600
7       lion     1018         500
8       lion     1016         420
9       lion     1019         390
10     tiger     1006         330
11     tiger     1005         320
12     tiger     1008         310
13     tiger     1004         300
14     tiger     1007         290
15     zebra     1011         240
16     zebra     1012         230
17     zebra     1010         220
18     zebra     1013         220
19     zebra     1009         200
20     zebra     1014         100
21     zebra     1015          80

In [51]:
# shuffle index of zoo
import random
new_idx = random.sample(range(0, len(zoo)), len(zoo))
new_idx

[3, 13, 7, 20, 11, 9, 15, 1, 8, 19, 16, 18, 14, 17, 4, 12, 10, 2, 6, 0, 5, 21]

In [53]:
zoo.reindex(new_idx)

      animal  uniq_id  water_need
3      tiger     1004         300
13     zebra     1014         100
7      tiger     1008         310
20  kangaroo     1021         430
11     zebra     1012         230
9      zebra     1010         220
15      lion     1016         420
1   elephant     1002         600
8      zebra     1009         200
19  kangaroo     1020         410
16      lion     1017         600
18      lion     1019         390
14     zebra     1015          80
17      lion     1018         500
4      tiger     1005         320
12     zebra     1013         220
10     zebra     1011         240
2   elephant     1003         550
6      tiger     1007         290
0   elephant     1001         500
5      tiger     1006         330
21  kangaroo     1022         410

In [54]:
zoo.reindex(columns=['water_need', 'animal', 'uniq_id'])

    water_need    animal  uniq_id
0          500  elephant     1001
1          600  elephant     1002
2          550  elephant     1003
3          300     tiger     1004
4          320     tiger     1005
5          330     tiger     1006
6          290     tiger     1007
7          310     tiger     1008
8          200     zebra     1009
9          220     zebra     1010
10         240     zebra     1011
11         230     zebra     1012
12         220     zebra     1013
13         100     zebra     1014
14          80     zebra     1015
15         420      lion     1016
16         600      lion     1017
17         500      lion     1018
18         390      lion     1019
19         410  kangaroo     1020
20         430  kangaroo     1021
21         410  kangaroo     1022

# ไปทำ แบบฝึกหัดที่ 3